* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.list-layout {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ec5242;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
}

.nav-list {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.nav-list li {
  display: flex;
  width: 70%;
  justify-content: space-around;
  text-decoration: none;
  font-size: 25px;
  margin-top: 40px;
}

.container-logo {
  width: 100%;
  margin-left: 20px;
}

.logo {
  font-size: 40px;
  text-decoration: none;
  visibility: hidden;
}

.list-link {
  text-decoration: none;
  color: #fff;
}

.closeBtn {
  font-size: 60px;
  color: #fff;
  text-decoration: none;
}

.hamburger {
  cursor: pointer;
  font-size: 40px;
}

.closeBtn-menu {
  margin-left: 10px;
}

.page-title {
  color: #ec5242;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.subtitle {
  color: #ec5242;
  text-align: left;
  margin-top: -0;
  margin-left: 15px;
}

.paragraph {
  color: #272a31;
  text-align: center;
  margin-top: 10px;
  line-height: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
}

.event-day {
  text-align: center;
  margin-top: 10px;
  background-image: url("assets/images/illustration 4.png");
  background-repeat: no-repeat;
  background-position: 80% 70%;
  height: 10vh;
  background-size: 5%;
}

.event-day h4 {
  margin-top: 15px;
  font-size: 30px;
}

.event-day p {
  margin-top: 15px;
  font-size: 30px;
  color: #272a31;
  margin-bottom: 15px;
}

.background-image {
  background-image: url("assets/images/program-bg.png");
  height: 50%;
}

.card-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background: #808080;
  opacity: 0.5;
}

.card-1 p {
  color: #fff;
  text-align: start;
  line-height: 1.5rem;
}

.card-1 h3 {
  color: #ec5242;
  font-size: 28px;
  height: 60px;
  margin-top: 40px;
}

.main h3 {
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.forum {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  opacity: 0.5;
  background: #808080;
}

.forum h3 {
  color: #ec5242;
  font-size: 28px;
  margin-top: 30px;
}

.forum p {
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 275px;
  font-size: 16px;
  line-height: 1.5rem;
}

.workshop {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  opacity: 0.5;
  background: #808080;
}

.workshop p {
  color: #fff;
  width: 275px;
}

.workshop h3 {
  color: #ec5242;
  font-size: 28px;
}

.exibition {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  opacity: 0.5;
  background: #808080;
}

.exibition h3 {
  color: #ec5242;
  font-size: 28px;
}

.exibition p {
  width: 275px;
  color: #fff;
  line-height: 1.5rem;
}

.global {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 60px;
}

.bar {
  background: #ec5242;
  text-align: center;
  color: #fff;
  padding: 20px;
  width: 80%;
  font-size: 20px;
}

.my-image {
  width: 50%;
  height: 35vh;
}

.speaker {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.speaker h6 {
  font-size: 18px;
  margin-right: 5px;
  margin-top: 10px;
}

.sub-heading h6 {
  color: #ec5242;
}

.sub-heading {
  width: 40%;
}

.sub-heading p {
  margin-top: 10px;
  color: #272a31;
}

.speaker-image {
  margin-top: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.speaker-list {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.footer {
  visibility: hidden;
}

.footer-1 {
  visibility: hidden;
}

.desktop-nav {
  visibility: hidden;
  margin-top: -350px;
}

.container-paragraph {
  background-image: url("assets/images/illustration one2.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 100%;
  text-align: center;
  margin-right: 20px;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .global {
    display: none;
  }

  .card-1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 15%;
  }

  .card-1:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
    border: 5px solid #d3d3d3;
  }

  .exibition {
    display: flex;
    flex-direction: column;
    background: #808080;
  }

  .exibition:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
    border: 5px solid #d3d3d3;
  }

  .forum {
    display: flex;
    flex-direction: column;
  }

  .forum:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
    border: 5px solid #d3d3d3;
  }

  .workshop {
    display: flex;
    flex-direction: column;
  }

  .workshop:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
    border: 5px solid #d3d3d3;
  }

  .main {
    text-align: center;
    height: 30px;
    width: 100%;
  }

  .speaker {
    width: 30%;
    position: center;
    margin-right: 30px;
  }

  .my-image {
    width: 50%;
    height: 20vh;
  }

  .speaker-image {
    width: 30%;
    position: center;
    margin-right: 20px;
  }

  .main-section-2 {
    display: flex;
    justify-content: center;
  }

  .footer-section {
    width: 50%;
  }

  .sub-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .footer {
    visibility: visible;
    height: 20vh;
    margin-top: 80px;
  }

  .footer-1 {
    justify-content: center;
    visibility: visible;
  }

  .footer-1 h3 {
    margin-right: 25px;
    font-size: 40px;
  }

  .speaker-list {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 40px;
    color: #000;
  }

  .desktop-nav {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    visibility: visible;
  }

  .nav-header {
    display: flex;
    width: 50vw;
    justify-content: space-around;
  }

  .nav-header a {
    text-decoration: none;
    color: #272a31;
  }

  .nav-header li {
    list-style-type: none;
    font-size: 20px;
    color: #272a31;
  }

  .logo-home {
    text-decoration: none;
    font-size: 40px;
    color: #272a31;
  }

  .logo-image {
    display: flex;
  }

  .logo-image img {
    width: 12%;
  }

  .nav-header .camp {
    padding: 8px;
    color: #ec5242;
    border: 5px solid #ec5242;
  }

  .nav-header .about {
    color: #ec5242;
  }

  .container-paragraph {
    display: flex;
    justify-content: center;
    background-image: url("assets/images/illustration one2.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 65%;
  }

  .container-paragraph p {
    font-size: 20px;
  }

  .main-section {
    display: flex;
  }

  .center-hor {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .sec {
    display: flex;
    justify-content: center;
  }

  .background-image {
    padding-bottom: 40px;
    padding-top: 20px;
  }

  .sub-heading h4 {
    font-size: 25px;
  }

  .sub-heading h6 {
    font-size: 17px;
  }

  .horizontal-line {
    border: 1px solid #ec5242;
    width: 3%;
    text-align: center;
    position: center;
  }
}
